<div class="statistical">
    <p>Statistical</p>
    <!-- <canvas #chartCanvas></canvas> -->
    <div class="general">
        <div class="post-box">
            <span>{{ numberOfPosts }}</span>
            <span>Posts</span>
        </div>
        <div class="post-box">
            <span>{{ numberOfPosts }}</span>
            <span>Candidate</span>
        </div>
        <div class="rectangle-box">
            <span>{{ numberOfPosts }}</span>
            <span>Avg applied job post</span>
        </div>
        <div class="rectangle-box">
            <span>{{ numberOfPosts }}</span>
            <span>Avg Score Quiz</span>
        </div>
    </div>
    <div class="border">
        <div class="graph-container">
            <canvas id="mychart" class="g"></canvas>
            
        </div>
        <div class="graph-container">
            <canvas id="hi" class="g"></canvas>
        </div>
        <div class="graph-container">
            <canvas id="barChart2" class="g"></canvas>
        </div>
        <div class="graph-container">
            <canvas id="hi2" class="g"></canvas>
        </div>
    </div>
</div>